.form-group {
    margin-bottom: 2px !important;
}

.nav-tabs-custom > .nav>li>a {
	padding: 2px 10px !important;
}

fieldset.scheduler-border {
    /* border: 1px groove #ddd !important; */
	    border: 1px solid #ccc!important;
    /* padding: 0 1.4em 1.4em 1.4em !important; */
	padding : 4px 10px;
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend {
	width: auto;
	border-bottom: none;
	margin-bottom: 0;
	font-size: 15px !important;
}
fieldset {
	margin: 0 !important;
}

.dispaly-flex {
	display: inline-flex;
}

.input-sm {
	height: 23px !important;
	padding: 2px 10px !important;
}

.button-width {
	width: 120px;
	margin-right : 14px;
}
.content-header {
	padding: 0 !important;
}

.box {
	margin-bottom: 10px !important;
}
.navbar-nav{
	/*margin: 11.5px -2px !important;*/
}

/*---- Custom By Dev -----*/
.custom-table>thead>tr>th, .custom-table>tbody>tr>th, .custom-table>tfoot>tr>th, .custom-table>thead>tr>td, .custom-table>tbody>tr>td, .custom-table>tfoot>tr>td{
	border: 1px solid #060606 !important;
	padding:2px;
}
/*---- Custom By Dev -----*/
